/*sets the background color for the whole webpage*/
body{
    background-color: #f7f7f7;
}
/*sets the style for the all the h1 head texts*/
h1{
    font-size: 50px;
    text-align: center;
    font-family:Trebuchet MS, sans-serif;
    color:rgb(0, 0, 0);
    font-weight: 400;
    font-variant: small-caps;
    letter-spacing: 7px;
}
/*sets the style for the all the h2 head texts*/
h2{
    font-family:Verdana, sans-serif;
    font-weight: 300;
    font-size: 25px;
    color: rgb(26, 26, 26);
}
/*set the proper style for text in paragraph*/
p {
    font-weight: 450;
    font-family: Haettenschweiler, sans-serif;
    color: rgba(24, 24, 24, 0.87);
    margin:0 50px 0 50px;
    padding-top: 10px;
    line-height: 30px;
    letter-spacing: 1px;
}
/*sticky navbar at the top for the use of navigation*/
.top_nav_bar{
    position: fixed;
    top:0;
    width:100%;
}
/*desgin for the bar*/
.top_nav_bar ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color:whitesmoke;
    background-color: rgb(32, 27, 27);
    height:10vh;
    padding:0px;
    margin:0px;
    list-style-type: none;
    font-size: 20px;
    font-family:Trebuchet MS, sans-serif;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 2px;
    /* border-radius: 5px; */
    box-shadow: 5px 5px 5px rgb(224, 224, 224);
}
/*go straight to the home for a better accessibility, it has glowing effect*/
.skip-link{
    text-decoration: none;
    color: rgb(255, 255, 255);
    transform: scale(1,1.15);
    transition: 1s;  
    text-shadow: 
    2px 2px 5px rgba(255, 255, 255, 0.829),
    3px 3px 10px rgba(255,255,255,0.3),
    5px 5px 70px rgba(255,255,255,0.3);

}

.skip-link:hover {
    text-shadow: 
    2px 2px 5px rgba(255,255,255,0.9),
    3px 3px 10px rgba(255,255,255,0.9),
    5px 5px 70px rgba(255,255,255,0.9);    
}

.skip-link:visited{
    color:whitesmoke;
}

.underline-hover{
    color:white;
    display: inline-block;
    position:relative;
    padding-bottom:0.15rem;
    text-decoration: none;
}

.underline-hover:visited{
    color:whitesmoke;
}
/*animation for the underline of the menu item*/
.underline-hover::before {
    content: "";
    position: absolute;
    right:0;
    bottom: 0;
    width:0;
    height:2px;
    background-color: rgb(255, 215, 0);
    background-image: linear-gradient(to right, rgba(21, 255, 0, 0.575), rgb(255, 0, 0));
    transition:width 0.25s ease-out;
}

.underline-hover:hover::before{
    width:100%;
    left:0;
    right:auto;
}
.image-area {
    flex: 1;
    max-width: 50%;
    margin-top: 23vh;
}
/*make the header and the bible verse at the center of the page*/
#first_page{
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/*set the text style for the text in the first page*/
#first_page h1{
    margin-bottom: 30px;
    animation-name: fade-in;
    animation-duration:2s;
}

#first_page h3{
    margin: 10px 0px 10px;
    letter-spacing: 1.5px;
    font-weight: 600;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    animation: lights 8s 750ms linear infinite;

}

#about {
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#about header h1{
    animation-name: fade-in;
    animation-duration: 2s;
}

#skills{
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;    
}

#skills ul{
    list-style-type:square;
    display: flex;
    flex-direction: column;
}

#skills ul li{
    margin: 10px;
}

#interests{
    padding-top: 4em;
    height:160vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;    
}

#interests img{
    padding-top: 10px;
    padding-bottom: 10px;
}
/*set the style for the contact page*/
#contact {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#contact article {
    max-width: 600px;
    margin: 0 auto;
}

#contact form {
    display: grid;
    gap: 1em;
    border: 2px solid #333; /* Set border style and color */
    border-radius: 10px; /* Add border-radius for rounded corners */
    padding: 20px; /* Add padding for better visual appeal */
}

#contact .form-group {
    text-align: left;
}

#contact label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5em;
}

#contact input,
#contact textarea {
    width: 100%;
    padding: 0.5em;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 16px; /* Adjust the font size */
    color: #333; /* Adjust the text color */
}

#contact button {
    background-color: #000000;
    color: rgb(209, 209, 209);
    padding: 1em;
    border: none;
    cursor: pointer;
}

#contact button:hover {
    background-color: #333333;
}








/*animations
fade-in: text fade in 
lights: glowing text with shadows moving
*/
@keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 100;}
}

@keyframes lights {
    0% {
      color: hsl(0, 0%, 15%);
      text-shadow:

        -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
    30% { 
      color: hsl(0, 0%, 0%);
      text-shadow:

        -0.5em -0.125em 0.25em hsla(0, 0%, 21%, 0.2),
        0.5em 0.125em 0.25em hsla(0, 0%, 0%, 0.4);
    }
    
    40% { 
      color: hsl(0, 0%, 21%);
      text-shadow:

        -0.25em -0.125em 0.125em hsla(0, 0%, 19%, 0.2),
        0.25em 0.125em 0.125em hsla(0, 0%, 16%, 0.4);
    }
    
    70% {
      color: hsl(0, 0%, 21%);
      text-shadow:

        0.5em -0.125em 0.25em hsla(0, 0%, 15%, 0.2),
        -0.5em 0.125em 0.25em hsla(0, 0%, 7%, 0.4);
    }
    
    100% {
      color: hsl(0, 0%, 21%);
      text-shadow:

      -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
}
